extends ../pub/layout
 
block content
 div.user-admin
  div.container
    div.row
     div.col-md-8.col-md-offset-2
      ul.list-inline
        li
          div.user-img#fileSelect
            if imgsrc
              img#userImg(src="#{imgsrc}" alt="头像")
            else
              img#userImg(src="/images/user.jpg" alt="头像")
            form(name='userForm' action = "javascript:;" method="post" encype = "multipart/form-data")
              input(id="fileElem" type="file" name="userImg")
        li
          h3 #{title}
          form#autographForm(name='autographForm' action = "javascript:;" method="post" encype = "multipart/form-data")
            botton.btn.btn-default.btn-xs#editorBtn 修改
            if autograph
              input.autograph#autograph(name="autograph" value="#{autograph}" disabled)
            else
              input.autograph#autograph(name="autograph" placeholder="少年,说点什么吧!" disabled)
 
 div.container#content
  div.row
   div.col-md-8.col-md-offset-2
    ul.list-unstyled
     each item in posts
      li
       h4
        a(href="/user/#{item.name}/#{item.time.day}/#{item.title}") #{item.title}
       p
        span 作者: 
          a(href="/user/#{item.name}") #{item.name}
        span.line
        span 日期: #{item.time.minute}
       div
        :markdown
        !{item.post}
  script(src="/javascripts/bootstrapModel.js")
  script.
    var fileSelect = document.getElementById("fileSelect");
    var fileElem = document.getElementById("fileElem");
    fileSelect.onclick = function(){
        fileElem.click();
        //- $(fileElem).replaceWith('<input id="fileElem" type="file" name="up"/>');
    }
    fileElem.onchange = function(e){
      // 判断上传文件类型
      var objFile = fileElem.value;
      var objType = objFile.substring(objFile.lastIndexOf(".")).toLowerCase();
      var formData = new FormData(document.forms.namedItem("userForm"));
      if(objType === ".png" || objType === ".gif" || objType === ".jpg"){
          $.ajax({
              type : 'post',
              url : '/uploadUserImg',
              data: formData ,
              processData:false,
              async:false,
              cache: false,  
              contentType: false, 
              success:function(data){
                $("#userImg").attr("src",data);
                $.model.alert("提示", "上传成功", "确定");
              },
              error:function(err){
                  console.log(err);
              }
          });
      }else{
        $.model.alert("提示", "这个是测试弹窗", "确定");
      }
    }
    var editorBtn = document.getElementById('editorBtn');
    var input = document.getElementById('autograph');
    editorBtn.onclick = function(e){
      var inputVal = input.value;
      var that = e.target;
      if(that.textContent == "修改"){
        input.removeAttribute('disabled');
        input.focus();
        that.innerHTML = "保存";
      }else{
        that.innerHTML = "修改";
        input.setAttribute('disabled','true');
        input.onchange = function(){
          if(inputVal !== input.value){
            $.ajax({
                type : 'post',
                url : '/autograph',
                data: 'value='+input.value,
                dataType:'json', 
                success:function(data){
                  $.model.alert("提示", data, "确定");
                  that.innerHTML = "修改";
                  input.setAttribute('disabled','true');
                },
                error:function(err){
                    console.log(err);
                }
            });
          }
        }
      }
    }
 include ../pub/footer.jade