extends ../layout
 
block content
 if success
  div #{success}
 each item in posts
  h1
   a(href="/user/#{item.name}/#{item.time.day}/#{item.title}") #{item.title}
  h2 作者: 
   a(href="/user/#{item.name}") #{item.name}
  h3 #{item.time.minute}
  div
   :markdown
   !{item.post}
 include ../footer.jade