extends layout
 
block content
 div#content
  h1 #{posts.title}
  div
  if (user && user.name == posts.name)
   span
    a(href="/edit/#{posts.name}/#{posts.time.day}/#{posts.title}") 编辑
   span
    a(href="/remove/#{posts.name}/#{posts.time.day}/#{posts.title}") 删除
  h2 作者: 
   a(href="/user/#{posts.name}") #{posts.name}
  h3 #{posts.time.minute}
  div
   :markdown
   !{posts.post}
 include footer.jade