
extends layout
block content
 include nav.jade
 div.wrap#content
  each item in posts
   div
     h3
      a(href="/user/#{item.name}/#{item.time.day}/#{item.title}") #{item.title}
     p 作者: 
      a(href="/user/#{item.name}") #{item.name}
     p #{item.time.minute}
  include page.jade
 include footer.jade








