
extends pub/layout
block content
 include pub/nav.jade
 div.container#content
  div.row
   div.col-md-4
    h3 技术博客
    each item in posts
     div
       h5
        a(href="/user/#{item.name}/#{item.time.day}/#{item.title}") #{item.title}
       p
       span 作者: 
        a(href="/user/#{item.name}") #{item.name}
       span.line
       span 时间: #{item.time.minute}
       span.line
       span 留言:
        a(href="/user/#{item.name}/#{item.time.day}/#{item.title}") #{item.comments.length}
   div.col-md-4
    h3 科技焦点
    ul
    each item in articles
     li
      a(href="/article/list/#{item.articleTitle}") #{item.articleTitle}
    div
     a.btn.btn-default(href="/article/list") 查看更多
   div.col-md-4
    h3 热点新闻
    ul
    each item in news
     li
      a(href="/news/list/#{item.newsTitle}") #{item.newsTitle}
    div
     a.btn.btn-default(href="/news/list") 查看更多
 include pub/footer.jade








