extends ../pub/layout
 
block content
  include ../pub/nav.jade
  div.container#content
    div.row
      div.col-md-8.col-md-offset-2
        ol.breadcrumb
          li
            a(href="/") 首页
          li
            a(href="/article/list") #{articles.articleType}
          li #{articles.articleTitle}
      div.col-md-8.col-md-offset-2
        h1 #{articles.articleTitle}
        p 
          span 来源: #{articles.articleBorn}
          span.line
          span 时间: #{articles.articleTime}
          span.line
          span 阅读量: #{articles.articleRead}
        p #{articles.articleText}
 include ../pub/footer.jade