extends ../layout
 
block content
  include ../nav.jade
  div.container#content
    div.row
      div.col-md-8
      h1 #{articles.articleTitle}
      p 
        span 来源: #{articles.articleBorn}
        span.line
        span 时间: #{articles.articleTime}
        span.line
        span 阅读量: #{articles.articleRead}
      p #{articles.articleText}
 include ../footer.jade