extends ../pub/layout
 
block content
  include ../pub/nav.jade
  div.container#content
    div.row
      div.col-md-8
        ul.list-unstyled
          each item in articles
            li
              h4
                a(href="/article/list/#{item.articleTitle}") #{item.articleTitle}
              p 
                span 来源: #{item.articleBorn}
                span.line
                span 时间: #{item.articleTime}
                span.line
                span 阅读量: #{item.articleRead}
          include ../pub/page.jade
 include ../pub/footer.jade