extends ../pub/layout
 
block content
  include ../pub/nav.jade
  div.container#content
    div.row
      div.col-md-8.col-md-offset-2
        h1 #{news.newsTitle}
        p 
          span 来源: #{news.newsBorn}
          span.line
          span 时间: #{news.newsTime}
          span.line
          span 阅读量: #{news.newsRead}
        p #{news.newsText}
 include ../pub/footer.jade